@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
  --text: #202020;
  --background: #ffffff;
  --accent: blue;
}

.theme-dark {
  --text: #ffffff;
  --background: #202020;
  --accent: rgba(255, 138, 76, 1);
}

.theme-alt {
  --text: yellow;
  --background: darkblue;
  --accent: papayawhip;
}

body {
  background-color: theme('colors.themeBg');
  color: theme('colors.themeText');
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
